body {
  background: linear-gradient(
      -45deg,
      #121212 25%,
      transparent 25%,
      transparent 75%,
      #121212 75%,
      #121212
    ),
    linear-gradient(
      45deg,
      #121212 25%,
      transparent 25%,
      transparent 75%,
      #121212 75%,
      #121212
    );
  background-size: 100px 100px;
  background-color: #000000;
  animation: moveZigZag 10s linear infinite;

}

@keyframes moveZigZag {
  0% {
    background-position: 0 0, 50px 50px;
  }
  100% {
    background-position: 100px 100px, 150px 150px;
  }
  
}

.name-link {
  position: absolute;
  top: 20px;
  left: 20px;
  text-decoration: none;
  color: #ffffff;
  padding: 15px;
  background-color: #333333;
  border-radius: 10px;
  font-size: 30px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
}

.sections {
  position: absolute;
  top: 20px;
  right: 20px;
  text-decoration: none;
  color: #ffffff;
  padding: 15px;
  background-color: #333333;
  border-radius: 10px;
  font-size: 20px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
}

.sections a {
  text-decoration: none;
  color: inherit;
}

.spacer {
  margin-right: 15px;
}

.github_icon img {
  height: 30px;
  width: 30px;
}

.hoverabout:hover {
  color: #808080;
}

.hoverresume:hover {
  color: #808080;
}

.hovercontact:hover {
  color: #808080;
}

.resume {
  width: 900px;
  background-color: #333333;
  color: #ffffff;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
  padding-top: 1px;
  padding-bottom: 10px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
}

.resume span{
  background-color: gray;
  border-radius: 10px;
  padding: 10px;
  color: #ffffff;
}

p {
  font-size: 20px;
}

span {
  font-size: 35px;

}

.pe {
  margin-left: 30px;
  text-align: left;
  font-size: 20px;
}

.educ {
  margin-right: 30px;
  text-align: right;
  font-size: 20px;
}

.skill {
  margin-left: 30px;
  text-align: left;
  font-size: 20px;
}


  /* CSS for better hover effect */
  .sections a {
    text-decoration: none;
    color: inherit;
    transition: color 0.6s ease, box-shadow 0.6s ease;
  }
  
  .sections a:hover {
    color: #808080; /* Change text color on hover */
  }

  @media only screen and (max-width: 940px) {
    .resume{
        width: 700px;
    }
}

@media only screen and (max-width: 750px) {
  .resume{
      width: 600px;
  }
}

@media only screen and (max-width: 650px) {
  .resume{
      width: 450px;
  }

  .name-link{
    display: none;
  }
}

@media only screen and (max-width: 490px) {
  .resume{
      width: 350px;
  }

  .name-link{
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .resume{
      width: 300px;
  }

  .name-link{
    display: none;
  }
}

@media only screen and (max-width: 330px) {
  .resume{
      width: 250px;
  }

  .name-link{
    display: none;
  }

  .sections{
    display: none;
  }
}