body {
  
  background: linear-gradient(
      -45deg,
      #121212 25%,
      transparent 25%,
      transparent 75%,
      #121212 75%,
      #121212
    ),
    linear-gradient(
      45deg,
      #121212 25%,
      transparent 25%,
      transparent 75%,
      #121212 75%,
      #121212
    );
  background-size: 100px 100px;
  background-color: #000000;
  animation: moveZigZag 10s linear infinite;
}

@keyframes moveZigZag {
  0% {
    background-position: 0 0, 50px 50px;
  }
  100% {
    background-position: 100px 100px, 150px 150px;
  }
}

.content {
  width: 900px;
  padding: 20px;
  background-color: #333333;
  color: #ffffff;
  border-radius: 10px;
  text-align: center;
  margin: 250px 0px 20px 150px;

}

.about {
  padding: 20px;
  background-color: #333333;
  color: #ffffff;
  border-radius: 10px;
  text-align: left;
  margin: 30px 0px 0px 150px;
  width: 900px;
  height: 300px;
}

h1 {
  margin: 0;
}

.picture {
position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-60%, -50%);
  padding: 10px;
  background-color: #333333;
  border-radius: 10px;
}



.name-link {
  position: absolute;
  top: 20px;
  left: 20px;
  text-decoration: none;
  color: #ffffff;
  padding: 15px;
  background-color: #333333;
  border-radius: 10px;
  font-size: 30px;
}

.sections {
  position: absolute;
  top: 20px;
  right: 20px;
  text-decoration: none;
  color: #ffffff;
  padding: 15px;
  background-color: #333333;
  border-radius: 10px;
  font-size: 20px;
}

.sections a {
  text-decoration: none;
  color: inherit;
}

.spacer {
  margin-right: 15px;
}

.github_icon img {
  height: 30px;
  width: 30px;
}

.hoverabout:hover {
  color: #808080;
}

.hoverresume:hover {
  color: #808080;
}

.hovercontact:hover {
  color: #808080;
}

img{
  width: 500px;
}



  .sections a {
    text-decoration: none;
    color: inherit;
    transition: color 0.6s ease, box-shadow 0.6s ease;
  }
  
  .sections a:hover {
    color: #808080; 
  }

  .h1about{
    text-align: center;
  }

  @media only screen and (max-width: 1785px) {
    .content {
      margin: 120px auto 40px auto; /* Centering horizontally */
      padding-top: 20px; /* Add space between the picture and content */
      width: 60%; /* Adjust the width as needed */
    }
  
    .about {
      margin: 10px auto; /* Centering horizontally */
      width: 60%; /* Adjust the width as needed */
    }
  
    .picture {
      display: none;
    }

  }
  
  @media only screen and (max-width: 1055px) {
    .content {
      margin: 120px auto 40px auto; /* Centering horizontally */
      width: 60%; /* Adjust the width as needed */

    }
  
    .about {
      margin: 50px auto; /* Centering horizontally */
      width: 60%; /* Adjust the width as needed */
      padding-bottom: 50px;
    }
  
    .picture {
      display: none;
    }
  }

  @media only screen and (max-width: 931px) {
    .content {
      margin: 120px auto 40px auto; /* Centering horizontally */
      width: 60%; /* Adjust the width as needed */

    }
  
    .about {
      margin: 50px auto; /* Centering horizontally */
      width: 60%; /* Adjust the width as needed */
      padding-bottom: 80px;
    }
  
    .picture {
      display: none;
    }
  }

  @media only screen and (max-width: 793px) {
    .content {
      margin: 120px auto 40px auto; /* Centering horizontally */
      width: 60%; /* Adjust the width as needed */

    }
  
    .about {
      margin: 50px auto; /* Centering horizontally */
      width: 60%; /* Adjust the width as needed */
      padding-bottom: 120px;
    }
  
    .picture {
      display: none;
    }
  }
  
  @media only screen and (max-width: 737px) {
    .content {
      margin: 120px auto 40px auto; /* Centering horizontally */
      width: 60%; /* Adjust the width as needed */

    }
  
    .about {
      margin: 50px auto; /* Centering horizontally */
      width: 60%; /* Adjust the width as needed */
      padding-bottom: 160px;
    }
  
    .picture {
      display: none;
    }
  }
  
  @media only screen and (max-width: 641px) {
    .content {
      margin: 120px auto 40px auto; /* Centering horizontally */
      width: 60%; /* Adjust the width as needed */

    }
  
    .about {
      margin: 50px auto; /* Centering horizontally */
      width: 60%; /* Adjust the width as needed */
      padding-bottom: 220px;
    }
  
    .picture {
      display: none;
    }
  }

  @media only screen and (max-width: 577px) {
    .content {
      margin: 120px auto 40px auto; /* Centering horizontally */
      width: 60%; /* Adjust the width as needed */

    }
  
    .about {
      margin: 50px auto; /* Centering horizontally */
      width: 60%; /* Adjust the width as needed */
      padding-bottom: 300px;
    }
  
    .picture {
      display: none;
    }

    .name-link{
      display: none;
    }
  }

  @media only screen and (max-width: 517px) {
    .content {
      margin: 120px auto 40px auto; /* Centering horizontally */
      width: 60%; /* Adjust the width as needed */

    }
  
    .about {
      margin: 50px auto; /* Centering horizontally */
      width: 60%; /* Adjust the width as needed */
      padding-bottom: 350px;
    }
  
    .picture {
      display: none;
    }
  }

  @media only screen and (max-width: 471px) {
    .content {
      margin: 120px auto 40px auto; /* Centering horizontally */
      width: 60%; /* Adjust the width as needed */

    }
  
    .about {
      margin: 50px auto; /* Centering horizontally */
      width: 60%; /* Adjust the width as needed */
      padding-bottom: 400px;
    }
  
    .picture {
      display: none;
    }
  }

  @media only screen and (max-width: 439px) {
    .content {
      margin: 120px auto 40px auto; /* Centering horizontally */
      width: 60%; /* Adjust the width as needed */

    }
  
    .about {
      margin: 50px auto; /* Centering horizontally */
      width: 60%; /* Adjust the width as needed */
      padding-bottom: 480px;
    }
  
    .picture {
      display: none;
    }
  }

  @media only screen and (max-width: 403px) {
    .content {
      margin: 120px auto 40px auto; /* Centering horizontally */
      width: 60%; /* Adjust the width as needed */

    }
  
    .about {
      margin: 50px auto; /* Centering horizontally */
      width: 60%; /* Adjust the width as needed */
      padding-bottom: 530px;
    }
  
    .picture {
      display: none;
    }
  }

  @media only screen and (max-width: 397px) {
    .content {
      margin: 120px auto 40px auto; /* Centering horizontally */
      width: 60%; /* Adjust the width as needed */

    }
  
    .about {
      margin: 50px auto; /* Centering horizontally */
      width: 60%; /* Adjust the width as needed */
      padding-bottom: 590px;
    }
  
    .picture {
      display: none;
    }
  }