body {
    background: linear-gradient(
        -45deg,
        #121212 25%,
        transparent 25%,
        transparent 75%,
        #121212 75%,
        #121212
      ),
      linear-gradient(
        45deg,
        #121212 25%,
        transparent 25%,
        transparent 75%,
        #121212 75%,
        #121212
      );
    background-size: 100px 100px;
    background-color: #000000;
    animation: moveZigZag 10s linear infinite;
  }
  
  @keyframes moveZigZag {
    0% {
      background-position: 0 0, 50px 50px;
    }
    100% {
      background-position: 100px 100px, 150px 150px;
    }
  }
  
  .name-link {
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: none;
    color: #ffffff;
    padding: 15px;
    background-color: #333333;
    border-radius: 10px;
    font-size: 30px;
  }
  
  .sections {
    position: absolute;
    top: 20px;
    right: 20px;
    text-decoration: none;
    color: #ffffff;
    padding: 15px;
    background-color: #333333;
    border-radius: 10px;
    font-size: 20px;
  }
  
  .sections a {
    text-decoration: none;
    color: inherit;
  }
  
  .spacer {
    margin-right: 15px;
  }
  
  .github_icon img {
    height: 30px;
    width: 30px;
  }
  
  .hoverabout:hover {
    color: #808080;
  }
  
  .hoverresume:hover {
    color: #808080;
  }
  
  .hovercontact:hover {
    color: #808080;
  }

  .contact {
    width: 900px;
    background-color: #333333;
    color: #ffffff;
    border-radius: 10px;
    text-align: center;
    margin:0 auto;
    margin-top: 100px;
    padding-top: 1px;
    padding-bottom:10px;
  }
  
  .contact-section {
    text-align: center;
    padding: 50px 20px;
  }
  
  .contact-form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .form-group textarea {
    resize: vertical;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #808080;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #555;
  }
  
  h1{
    font-size: 30px;
  }

  /* CSS for better hover effect */
.sections a {
  text-decoration: none;
  color: inherit;
  transition: color 0.6s ease, box-shadow 0.6s ease;
}

.sections a:hover {
  color: #808080; /* Change text color on hover */
}

@media only screen and (max-width: 948px) {
  .contact{
    width: 650px;
  }
}

@media only screen and (max-width: 700px) {
  .contact{
    width: 550px;
  }
}

@media only screen and (max-width: 590px) {
  .contact{
    width: 500px;
  }
}

@media only screen and (max-width: 545px) {
  .contact{
    width: 450px;
  }

  .name-link{
    display: none;
  }
}

@media only screen and (max-width: 485px) {
  .contact{
    width: 400px;
  }
}


@media only screen and (max-width: 440px) {
  .contact{
    width: 350px;
  }
}

@media only screen and (max-width: 390px) {
  .contact{
    width: 300px;
  }
}

@media only screen and (max-width: 316px) {
  .contact{
    width: 270px;
  }

  .sections{
    width: 270px;
    
  }
}